section{
    .title{
        background: url('../images/about-title-image-1.jpg') fixed;
        padding: 100px 0 40px 0;
        text-align: center;
        h1{
            font-size: 60px;
        }
        p{
            font-size: 14px;
            color: #b67453;
            font-style: italic;
            margin-top: 10px;
        }
    }
}