section{
    .category{
        margin-top: 150px;
        &__content{
            h5{
                font-size: 26px;
                color: #222222;
            }
            p{
                font-size: 14px;
                color: #8d8787;
            }
        }
    }
}