.slider{
    position: relative;
    width: auto;
    height: 100vh;
    background: url('../images/home-slider-1.jpg') center/ cover fixed;
    &__contain{
        position: absolute;
        top: 40%;
        left: 35%;
        transform: translate(-40%, -35%);
        color: white;
        h1{
            font-size: 70px;
        }
    }
}